/01. Class/.vs
/01. Class/Debug
/02. Constructor Desctructor/.vs/02. Constructor Desctructor/v16
/02. Constructor Desctructor/Debug
/02. Constructor Desctructor/02. Constructor Desctructor/Debug
/03. Static/.vs
/03. Static/Debug
/03. Static/03. Static/Debug